{{- $choices := list "minimal" "core" "tmux" "tools" "neovim" -}}
{{- $roles := promptMultichoiceOnce . "global.roles" "roles"
    $choices (list "minimal" "core")
-}}
[data.global]
	roles = {{ $roles | toJson  }}

