#! /bin/bash

echo "update core"

# This script should run every time there is an update and
# the core role is assigned

{{ if not (has "core" .global.roles)  -}}
exit 0
{{ end -}}

source "${HOME}/bin/helper.sh"

if is_wsl; then
	echo "Linking wsl2-relay as ssh-agent"
	# on WSL2 install a shell script with npiperelay as ssh-agent
	cd "${HOME}/bin" || exit
	ln -sf wsl2-relay-agent.sh ssh-agent
fi

echo -n "(Re-)creating current terminfo files: "
cd "${HOME}" || exit
for t in tmux mintty xterm-ghostty wezterm xterm-kitty; do 
	echo -n "${t} "
	if is_mac; then
		if ! infocmp ${t} 2>/dev/null 1>&2; then
			/usr/bin/tic -x "${HOME}/.config/terminfo_src/${t}.terminfo" 2>/dev/null
		fi
	else
		/usr/bin/tic -x "${HOME}/.config/terminfo_src/${t}.terminfo" 2>/dev/null
	fi
done
echo " - done"
