#! /usr/bin/env bash

echo "update neovim"

# This script should run every time there is an update and
# the neovim role is assigned

{{ if not (has "neovim" .global.roles)  -}}
exit 0
{{ end -}}

source "${HOME}/bin/helper.sh"

# if we do not set those paths here, then all installed binaries
# that were installed using mise, cannot be found. We want to be able
# to rerun this script multiple times without errors
source "${HOME}/.path.d/10_rust.bash"
source "${HOME}/.path.d/50_mise.bash"
source "${HOME}/.path.d/99_default.sh"
eval "$(mise hook-env)"

if ! is_mac; then
	echo "Updating font cache"
	type fc-cache && fc-cache -f
fi

echo "Updating theme cache"
if [[ -d "${HOME}/.config/silicon" ]]; then
	cd "${HOME}/.config/silicon" || exit
	# now it will take silicon from mise or cargo
	# or from /opt/homebrew/ on macOS
	type silicon && silicon --build-cache 1>/dev/null
fi

