#! /usr/bin/env bash

echo "update tools"

# This script should run every time there is an update and
# the tools role is assigned

{{ if not (has "tools" .global.roles)  -}}
exit 0
{{ end -}}

if [[ -x /usr/bin/bat ]]; then
	echo "Updating theme cache"
	bat cache --build 1>/dev/null
fi
