#! /usr/bin/env bash

echo "in bootstrap core"

# This script should install all necessary packages and tools for 
# the "core" version of the dotfiles

source "${HOME}/bin/helper.sh"

{{ if not (has "foo" .global.roles)  -}}
exit 1
{{ end -}}

